<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index for ClimateApp</title>
  </head>
  <body>
    <!--Set background color as light blue for route list-->
    <div style="background-color:greenyellow"/>
    <h1>Available Routes in ClimateApp:</h1>
    <!--Add horizontal line-->
    <hr align='left', width='50%', noshade/>
    <!--Display available routes as bulleted list-->
    <ul type='circle'>
    <!--Hyperlink to designated module-->
    <li><a href="http://localhost:5000/api/precipitation"><h3>/api/precipitation</h3></a></li>
    <li><a href="http://localhost:5000/api/stations"><h3>/api/stations</h3></a></li>
    <li><a href="http://localhost:5000/api/temperature"><h3>/api/temperature</h3></a></li>
    <!--Pass input named "date_shuttle" from "form input" to "tobs_start" module in ClimateApp-->
    <li><form method='post' action="{{ url_for('tobs_start')}}"><h3>/api/<span style="color:blue">start</span><sup>*</sup></h3>
      Enter start date: <input type='date' name='date_shuttle'><input type='submit'></form></li>
    <!--Pass input named "s_dt_shuttle" and "e_dt_shuttle" from "form input" to "tobs_start_end" module in ClimateApp-->
    <li><form method='post' action="{{ url_for('tobs_start_end')}}"><h3>/api/<span style="color:blue">start</span>/<span style="color:blue">end</span><sup>**</sup></h3>
      Enter start date: <input type='date' name='s_dt_shuttle'>&emsp;Enter end date: <input type='date' name='e_dt_shuttle'><input type='submit'></form></li>
    </ul>
    </div>
    <hr align='left', width='50%'/>
    <!--Paragraph-->
    <p><strong>*,**: <span style="color:blue"> start</span>, <span style="color:blue">end</span></strong> represent start and end dates for temperature query in the format of <strong>"yyyy-mm-dd"</strong>.<br/>
    <strong>NOTE:</strong> Date entry between "2010-01-01" and "2017-08-23", inclusive.</p>
    <hr align='left', width='50%'/>  
    <!--Add footer-->
    <br/>
    <br/>
    <footer>
      <p>Posted by: Lei Kang</p>
      <p>Contact information: <a href="mailto:koudash@gmail.com">koudash@gmail.com</a>.</p>
    </footer>
  </body>
</html>